.card {
    margin-top: 110px;
    
}

.section__card {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 50px;
    background-color: #ffd8a8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}


.card__list {
    display: flex;
    padding-left: 0;
    margin-top: 46px;
    margin: 0;
    transition: transform 0.3s ease;
    list-style: none;
}

.card__list-container {
    overflow: hidden;
    width: 100%;
}

.card__item {
    padding: 24px 24px 34px;
    text-decoration: none;
    align-content: center;
    text-align: center;
    border-radius: 24px;
    background-color: #dcffdc;
    box-shadow: 0 16px 72px 0 #ffd8a8;
    transition: top 0.2s linear;
    flex-shrink: 0;
    width: 100%;
    min-width: 250px;
    box-sizing: border-box;   
}


.card__item:hover {
   background-color: #9efd9e;
   color: #000000;
}

.card__item:active {
   background-color: #0dfc0d;
   color: #ffffff;
}

.card__item:hover {
    top: 10px;
}

.card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
    line-height: 30px;
    border-radius: 12px;
    background-color: rgba(255, 239, 204, 1);
}

.card__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    color: #c0907f;
}

.card__description {
    margin-top: 0;
    margin-bottom: 0;
    color: #846358;
}


/* Кнопки слайдера */
.slider-buttons {
    text-align: center;
    margin-top: 20px;
}

.prev-button, .next-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em; /* Размер кнопок */
    padding: 0 10px; /* Отступы */
    color: #333; /* Цвет кнопок */
    transition: color 0.2s;
}

.prev-button:hover, .next-button:hover {
    color: #846358; /* Цвет при наведении */
}