.header {
    background:  #FFE5B4;
    color: rgba(255, 255, 255, 0);
    padding: 20px 0;
    display: flex; /* Используем flexbox для размещения элементов */
    justify-content: space-between; /* Располагаем логотип и меню по краям */
    align-items: center; /* Вертикально центрируем элементы в шапке */
}

.header__logo {
    margin-right: 50px;
}

.header__title {
    font-size: 20px;
}

.header__subtitle {
    font-size: 20px;
}

.header__menu {
    list-style: none;
}

.menu {
    display: flex; /* Используем flexbox для вертикального расположения элементов */
    flex-direction: column; /* Элементы будут располагаться вертикально */
    align-items: flex; /* Выравниваем элементы по правой стороне */
}

.menu__item {
    margin-bottom: 10px; /* Расстояние между элементами меню */
}



.main__button {
    text-decoration: none;
    padding: 5px 6px;
    background-color:   #FFEFD5;
    border-radius: 1px;
    transition: background-color 0.3s;
    color: rgb(31, 30, 30);
}

.main__button:hover {
    background-color: #afcff6;
}









