.main__container {
    max-width: 1440px;
    margin: 30px;
    margin-left: 50px;
    padding: 210px;
    background-color: #ffd8a8; 
    padding: 20px;
    border-radius: 5px;
}

.intro {
    margin-bottom: 30px;
}

.teachers {
    margin-bottom: 30px;
}

.teacher__list {
    display: flex;
    flex-wrap: wrap;
}

.teacher__card {
    border: 1px solid #71BC78;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    max-width: 80px;
}

.teacher__image {
    border-radius: 50%;
    margin-bottom: 10px;
}

.section__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 62px;

    margin-top: 500;
    margin-bottom: 17px;
}

.section__title,
.section__description {
    max-width: 700px;
}

.section__description {
    line-height: 32px;
}

.section__title--center,
.section__description--center {
    text-align: center;

    max-width: 100%;
}

.main__search {
    display: flex;
    margin: 20px 0;
    width: 100%;
    gap: 10px;
    align-items: center;
    }

    .main__search {
        /*тут ваш код поля */
        transition: outline 0.3s;
    }

  
    .main__search input{
    padding: 5px; /*внутренний отступ*/
    border-radius: 8px; /*края будут закруглены с радиусом в 8 пикселей */
    }
       
    .design-options__form {
        display: flex; /* гибкое отображение */
        flex-direction: column; /* поставим все элементы вертикально*/
        gap: 5px; /*добавим отступы между элементами */
        width: 400px; /*укажем ширину всей формы*/
      margin-left: auto; /*отступ слева и справа автоматически одинаковый, в итоге форма встанет по центру*/
      margin-right: auto;
    }

    .design-options__form input {
        padding: 5px; 
        border-radius: 8px; 
    }

    .design-options__form button {
        border: none; 
        padding: 5px; 
        background-color: #eeb69a; 
        color: white; 
    }

               